@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('./assets//fonts/KyivTypeSansRegular.otf') format('truetype');
    font-weight: 400; /* Regular weight */
    font-style: normal;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('./assets//fonts/KyivTypeSansMedium.otf') format('truetype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'KyivTypeSans';
    src: url('./assets//fonts/KyivTypeSansBold.otf') format('truetype');
    font-weight: 700; /* Bold weight */
    font-style: normal;
}
.raleway-Raleway{
    font-family: "Raleway";
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@layer components{
    .formText{
        @apply text-primary text-sm font-raleway uppercase font-medium tracking-wide
    }
        
}
